
.Projects__mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    /* height: 80vh; */
}
.Projects__bigContainer {
    width: 90%;
}
.Projects__h2Div {
    width: 120px;
}
.Projects__h2Div h2 {
    width: 100px;
    margin: 0;
    margin-top: 30px;
}
.Projects__h2Div2 h2 {
    width: 420px;
    margin: 10px 0;
    font-weight: 600;
    font-size: 19px;
    color: grey;
}
/* .Projects__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

} */
/* .Projects__SingleProjectDiv {
    width: 400px;
    margin: 10px;
} */
.Projects__SingleProjectDiv h3 {
    margin: 40px 0;
}
.Projects__SingleProjectMain {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}
.Projects__contentMain {
    max-width: 400px;
}

.Projects__imageDiv {
    max-width: 400px;
    min-width: 400px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}
.allbnbImg {
    background-image: url("../../images/allbnb2.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}
.audifyImg {
    background-image: url("../../images/AudifyGif.gif");
    background-size: contain;
    background-repeat: no-repeat;
}
.sportsgramImg {
    background-image: url("../../images/sportsgram.gif");
    background-size: contain;
    background-repeat: no-repeat;
}
.stack-oilFlowImg {
    background-image: url("../../images/stackOilFlow.png");
    background-size: contain;
    background-repeat: no-repeat;
}
