.About__mainContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.About__container {
    width: 90%;
}
.About__container h2 {
    width: 100px;
}
.About__image {
    background-image: url("../../images/me.jpeg");
    width: 250px;
    height: 231px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.About__contentDiv {
    width: 300px;

}
.About__content {
    display: flex;
    justify-content: space-around;
}
