.About__mainContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.About__container {
    width: 90%;
}
.About__container h2 {
    width: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.About__image {
    background-image: url("../../images/me.jpeg");
    width: 250px;
    height: 231px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.About__contentDiv {
    width: 300px;
    font-family: 'Kaisei HarunoUmi', serif;
}
.About__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 630px) {
    .About__content {
        flex-direction: column;
    }
}
