.Contact__mainContainer {
    width: 100%;
    min-height: 300px;
    padding: 100px 0 100px 0;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}


.Contact__container {
    width: 90%;
}
.Contact__msgDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Contact__msgDiv h2 {
    width: 130px;
}
.Contact__h2Div {
    width: 100px;

}
.Contact__msgDiv p {
    text-align: center;
    margin: 0;
    height: auto;
    font-weight: 500;
    margin-top: 50px;
    line-height: 40px;
    font-size: 15px;
    letter-spacing: 0.5px;
    max-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
.Contact__infoMainDiv {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.Contact__infoDiv {
    min-width: 350px;
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.Contact__infoDiv * {
    margin: 0;
    padding: 0;
    margin: 0 20px 0 20px;
}
.Contact__infoDiv h4 {
    min-width: 75px;
    text-align: left;
}
.Contact__infoDiv p {
    min-width: 175px;
    color: rgb(128, 119, 119);
    text-align: left;
}
.Contact__contentDiv {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 730px) {
    .Contact__contentDiv {
        flex-direction: column;
    }
}
